@{
    ViewBag.Title = "updatePostData";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdatePost</title>
</head>
<body>

    @Html.Partial("~/Views/PartialHelper.cshtml");
    <div id="section" class="col-lg-10">
        <form action="/Admin/saveData" method="post" enctype="multipart/form-data">
            <input type="text" name="Name"  value="Name"/>
            <br />
            <input type="text" name="Company"  value="Company"/>
            <br />
            <input type="text" name="Model"  value="Model"/>
            <br />
            <input type="text" name="Price"  value="Price"/>
            <br />
            <input name="uploadFile" type="file" value="Choose Picture" /><br />
            <br />
            <input type="submit" />
        </form>
    </div>




</body>
</html>