
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    @Html.Partial("~/Views/PartialHelper.cshtml");
    <div>
        <div id="section">
            <form class=" col-lg-5 form-inline" role="form" style="border-color:aqua chocolate" action="/Admin/ChangePwd" method="post">
                <div class="form-group">
                    <label for="id" style="font:1000;font-size:medium;font-family:'Segoe UI';color:white;">Current Password:</label>
                    <br />
                    <input type="text" class="form-control col-lg-2" id="name" style="font-size:medium;" name="old">
                </div>
                <br />
                <div class="form-group">
                    <label for="id" style="font:1000;font-size:medium;font-family:'Segoe UI';color:white;">New Password:</label>
                    <br />
                    <input type="text" class="form-control col-lg-2" id="name" style="font-size:medium;" name="current">
                </div>
                <br />
                <br />
                <button type="submit" class="btn btn-success col-lg-2" style="font-size:medium;color:black;font-family:'Segoe UI'">Done</button>
            </form>
        </div>
    </div>
</body>
</html>
