@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartialHelper</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>


    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/mystyle.css" rel="stylesheet" />
    <link href="/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/hover.css" rel="stylesheet" />
    <link href="~/Content/hover-min.css" rel="stylesheet" />
</head>
<body style="background-image:url(/Content/muxfi.jpg)">
    <nav class="nav navbar-fixed-top navbar-inverse" role="navigation">
        <div class="nav navbar-header " style="padding-left:5%;padding-top:0.5%">

            <h1 style="color:white;font-family:'Lucida Handwriting'">CAR INN</h1>
        </div>
        <div class="pull-right" style="padding-right:15px;padding-top:1.5%">

            <a href="/Admin/signOut"><input type="submit" class="btn btn-primary hvr-bounce-in" value="SIGN OUT" style="border:solid;height:50px;width:150px" /></a>
        </div>

    </nav>

    <div style="background-color:black; opacity:1; height:600px" class="col-lg-2">
        <br />

        <br />

        <ul class="nav navbar">

            <li><a href="/Admin/UpdatePost" style="font-family:'Lucida Handwriting'; color:white;" class="hvr-bounce-to-right">Update Post</a></li>
            <li><a href="/Admin/DeleteUser" style="font-family:'Lucida Handwriting'; color:white;" class="hvr-bounce-to-right">Delete User</a></li>
            <li><a href="/Admin/add" style="font-family:'Lucida Handwriting'; color:white;" class="hvr-bounce-to-right">Add Car</a></li>
            <li><a href="/Admin/ChangePassword" style="font-family:'Lucida Handwriting'; color:white;" class="hvr-bounce-to-right">Change Password</a></li>
            <li><a href="/User/Index" style="font-family:'Lucida Handwriting'; color:white;" class="hvr-bounce-to-right">View Website</a></li>
            <li><a href="/Admin/CommentAdmin" style="font-family:'Lucida Handwriting'; color:white;" class="hvr-bounce-to-right">Comments</a></li>

        </ul>
    </div>
    <br />
    <br />


    <footer class="navbar-fixed-bottom navbar-inverse">
        <div style="text-align: center; color:wheat" class="navbar-inverse">
            <p class="list-inline small">Copyright &copy; 2015. Design by  Musfira Khan</p>
            <p class="list-inline small">BITF12M005</p>

        </div>
    </footer>

</body>
</html>
