@{
    ViewBag.Title = "AboutUs";

    Layout = null;   
 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>

</head>
<body style="background:no-repeat;background-image:url(/Content/Pictures/5.jpg)">
    @Html.Partial("~/Views/Helper.cshtml");
    <div>
        <br />
        <br />
        <label style="font:1000;font-size:50px;font-family:'Snap ITC';color:grey">About Us:</label>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="font:500;font-size:30px;font-family:'Snap ITC';color:grey">
        <p style="margin-left:350px">
            It is a project made by BITF12M005.<br />
            It's a c# based website.
        </p>
    </div>

    <br />
    <footer class="navbar-fixed-bottom navbar-inverse">
        <div style="text-align: center; color:white" class="navbar-inverse">
            <p class="list-inline small" style="font-size:13px">Copyright &copy; 2015. Design by  Musfira Khan</p>
            <p class="list-inline small" style="font-size:13px">BITF12M005</p>

        </div>
    </footer>
</body>
</html>
