@{
    <link href="~/Content/js-image-slider.css" rel="stylesheet" />
    <script src="~/Content/js-image-slider.js"></script>
    <link href="~/Content/js-image-slider.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/js-image-slider.js" type="text/javascript"></script>
    ViewBag.Title = "Contact";
}

<body>

    <div>
        <br />
        <br />
        <label style="font:1000;font-size:50px;font-family:'Snap ITC';color:grey">Contact Us:</label>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="font:500;font-size:30px;font-family:'Snap ITC';color:grey">
        <p style="margin-left:350px">
            Name : carr Inn <br />
            Website : CarrInn.com <br />
            Email Address: BITF12M005@PUCIT.EDU.PK <br />
            Phone No: 0333-1234567 <br />
            Fax No: 111-332-574 <br />

        </p>
    </div>

</body>

